# **Q1. Key Statistical Definitions**

Problem:

Write short definitions (2-3 lines each) for the following:

● a) Population and Sample

● b) Descriptive Statistics and Inferential Statistics

● c) Parameter and Statistic

● d) Qualitative and Quantitative Data

## **a) Population and Sample**

**Population:** The complete set of all individuals or items that you're studying.

**Sample:** A subset of the population selected for analysis to make inferences about the whole.

## **b) Descriptive Statistics and Inferential Statistics**

**Descriptive Statistics:** Methods for summarizing and organizing data using measures such as mean, median, and standard deviation.

**Inferential Statistics:** Techniques for drawing conclusions or making predictions about a population based on sample data.

## **c) Parameter and Statistic**

**Parameter:** A numerical value that describes a characteristic of a population (e.g., population mean).

**Statistic:** A numerical value that describes a characteristic of a sample (e.g., sample mean).

## **d) Qualitative and Quantitative Data**

**Qualitative Data:** Non-numeric information that describes categories or labels (e.g., colors, names).

**Quantitative Data:** Numeric data that represents measurable quantities (e.g., height, weight).

# **Q2. Measures of Central Tendency - Definitions**

Problem:

Define the following terms with one example each:

● a) Mean

● b) Median

● c) Mode

**a) Mean**

Definition: The mean is the average of a set of numbers, calculated by summing all values and dividing by the number of values.

Example: For the numbers 4, 6, and 8: Mean = (4 + 6 + 8) / 3 = 18 / 3 = 6

**b) Median**

Definition: The median is the middle value in an ordered dataset. If there is an even number of values, it's the average of the two middle numbers.

Example: For the numbers 3, 7, 9: Median = 7 (the middle value)

**c) Mode**

Definition: The mode is the value that appears most frequently in a dataset.

Example: For the numbers 2, 4, 4, 6, 8: Mode = 4 (it appears twice)

# **Q3. Manual Calculation of Mean, Median, and Mode**

Objective: Apply manual formulas to real data.

Problem:

Given the dataset:

12, 18, 14, 16, 18, 20, 18, 15, 12, 18, 14, 16, 18, 20, 18, 15

Calculate:

● a) Mean

● b) Median

● c) Mode

In [ ]:
# Mean

In [ ]:
sum_n = 12 + 18 + 14 + 16 + 18 + 20 + 18 + 15 + 12 + 18 + 14 + 16 + 18 + 20 + 18 + 15

In [ ]:
sum_n

262

In [ ]:
count_n = len([12, 18, 14, 16, 18, 20, 18, 15, 12, 18, 14, 16, 18, 20, 18, 15])

In [ ]:
count_n

16

In [ ]:
mean_n = sum_n/count_n

In [ ]:
mean_n

16.375

In [ ]:
# Median

In [ ]:
import statistics

In [ ]:
median_n = statistics.median([12, 18, 14, 16, 18, 20, 18, 15, 12, 18, 14, 16, 18, 20, 18, 15])

In [ ]:
median_n

17.0

In [ ]:
# Mode

In [ ]:
mode_n = statistics.mode([12, 18, 14, 16, 18, 20, 18, 15, 12, 18, 14, 16, 18, 20, 18, 15])

In [ ]:
mode_n

18

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame([12, 18, 14, 16, 18, 20, 18, 15, 12, 18, 14, 16, 18, 20, 18, 15]).describe()

               0
count  16.000000
mean   16.375000
std     2.526526
min    12.000000
25%    14.750000
50%    17.000000
75%    18.000000
max    20.000000

In [ ]:
pd.DataFrame([12, 18, 14, 16, 18, 20, 18, 15, 12, 18, 14, 16, 18, 20, 18, 15]).mode()

    0
0  18

# **Q4. Levels of Measurement**

Objective: Understand classification of data types.

Problem:

Define and give one example for each level of measurement:

● a) Nominal

● b) Ordinal

● c) Interval

● d) Ratio

**a) Nominal**

Definition: Data that represent categories with no logical order or ranking. Example: Types of fruits Apple, Banana, Orange.

**b) Ordinal**

Definition: Data that represent categories with a meaningful order, but the differences between values are not uniform or measurable.

Example: Customer satisfaction ratings Poor, Fair, Good, Excellent.

**c) Interval**

Definition: Numeric data with equal intervals between values, but no true zero point.

Example: Temperature in Celsius the difference between 20°C and 30°C is meaningful, but 0°C does not mean "no temperature."

**d) Ratio**

Definition: Numeric data with equal intervals and a true zero point, allowing for meaningful ratios.

Example: Weight in kilograms 0 kg means no weight, and 20 kg is twice as heavy as 10 kg.

# **Q5. Variance and Standard Deviation**

a) Define Variance and Standard Deviation.

b) Explain why Standard Deviation is more interpretable than Variance.

## **a) Define Variance and Standard Deviation.**

**Variance:**

**Definition:** Variance tells us how much the values in a dataset differ from the average (mean). In simpler terms, it measures how spread out the data is.

**Example:** Imagine two classes of students taking a test:

Class A: Scores: 80, 85, 90, 95, 100

Class B: Scores: 50, 60, 70, 90, 100

Class A has scores that are close to each other, while Class B has scores that vary more widely. The variance for Class B will be higher because the scores are more spread out from the average.

**Standard Deviation:**

**Definition:** Standard deviation is just the square root of variance. It also tells us how spread out the data is, but in a way that is easier to understand because it’s in the same unit as the original data.

**Example:** Using the same two classes:

Class A: The average score is 90, and the standard deviation might be 5, meaning most scores are within 5 points of the average.

Class B: The average score is 70, but the standard deviation could be 20, meaning the scores are more spread out and vary by about 20 points from the average.

## **b) Explain why Standard Deviation is more interpretable than Variance.**

Standard deviation is easier to understand because it is in the same units as the original data, making it directly comparable.

Variance, however, is in squared units, which makes it harder to relate to the actual data.

Example:

If you're measuring the height of students in a class in centimeters:

If the standard deviation is 5 cm, you can say, "On average, students' heights differ by 5 cm from the average height."

If the variance is 25 cm², it's not as easy to understand because it's in square centimeters, which doesn't directly relate to height.

So, standard deviation is more user-friendly because it gives a direct sense of the spread in the same units as the data.

# **Q6. Manual Calculation - Variance and Standard Deviation**

Given the data:
 8, 10, 12, 14, 16, 10, 12, 14, 16

Calculate:

a) Sample Variance


b) Sample Standard Deviation

**Given data:**
$8, 10, 12, 14, 16, 10, 12, 14, 16$

---

## ✅ 1️⃣ **Find the mean ($\bar{x}$)**

$$
\bar{x} = \frac{\text{Sum of all values}}{n}  
= \frac{8+10+12+14+16+10+12+14+16}{9}  
= \frac{112}{9} \approx 12.44
$$

---

## ✅ 2️⃣ **Compute each squared deviation**

| x  | $x - \bar{x}$      | $(x - \bar{x})^2$ |
| -- | ------------------ | ----------------- |
| 8  | 8 - 12.44 = -4.44  | 19.71             |
| 10 | 10 - 12.44 = -2.44 | 5.95              |
| 12 | 12 - 12.44 = -0.44 | 0.19              |
| 14 | 14 - 12.44 =  1.56 | 2.43              |
| 16 | 16 - 12.44 =  3.56 | 12.67             |
| 10 | 10 - 12.44 = -2.44 | 5.95              |
| 12 | 12 - 12.44 = -0.44 | 0.19              |
| 14 | 14 - 12.44 =  1.56 | 2.43              |
| 16 | 16 - 12.44 =  3.56 | 12.67             |


---

## ✅ 3️⃣ **Sum of squared deviations**

$$
19.71 + 5.95 + 0.19 + 2.43 + 12.67 + 5.95 + 0.19 + 2.43 + 12.67 = 62.19
$$

---

## ✅ 4️⃣ **Sample Variance ($s^2$)**

$$
s^2 = \frac{\text{Sum of squared deviations}}{n-1}  
= \frac{62.19}{9 - 1}  
= \frac{62.19}{8}  
= 7.77
$$

---

## ✅ 5️⃣ **Sample Standard Deviation ($s$)**

$$
s = \sqrt{s^2} = \sqrt{7.77} \approx 2.79
$$

---

## ✅ ✅ **Final Answers:**

|                               | Value    |
| ----------------------------- | -------- |
| **Sample Variance**           | **7.77** |
| **Sample Standard Deviation** | **2.79** |

# **Q7. Range and Interquartile Range (IQR)**


 Given the dataset:
 22, 29, 25, 31, 35, 40, 45, 48, 50

a) Arrange data in ascending order


b) Calculate the Range


c) Find Q1, Q3, and IQR

In [ ]:
# a)

In [ ]:
asc_ord = sorted([22, 29, 25, 31, 35, 40, 45, 48, 50])

In [ ]:
asc_ord

[22, 25, 29, 31, 35, 40, 45, 48, 50]

In [ ]:
# b)

In [ ]:
range_ = max(asc_ord) - min(asc_ord)

In [ ]:
range_

28

In [ ]:
# c)

In [ ]:
import numpy as np

In [ ]:
q1 = np.percentile(asc_ord, 25)

In [ ]:
q1

np.float64(29.0)

In [ ]:
q3 = np.percentile(asc_ord, 75)

In [ ]:
q3

np.float64(45.0)

In [ ]:
IQR = q3 - q1

In [ ]:
IQR

np.float64(16.0)

# **Q8. Five-number Summary and Boxplot Concept**

## Define the Five-number Summary and explain each component:


- **Minimum** - Smallest value in the dataset


- **Q1 (First Quartile)** - 25 percentile of the dataset


- **Median** - 50 percentile of the dataset (Q2)


- **Q3 (Third Quartile)** - 75 percentile of the dataset


- **Maximum** - Largest value in the dataset

## Describe how boxplots help in detecting outliers.

Datapoints below lower and above upper bound are outliers

![image.png]()

# **Q9. Confidence Interval for the Mean**

**Objective:** Estimate population means using sample data.

**Problem:**
 A sample of 36 students has an average height of 162 cm with a standard deviation of 6 cm.
 Calculate the 95% Confidence Interval for the population mean.
 (Hint: Use Z = 1.96 for 95% confidence)

---

## ✅ **Given:**

| Parameter                       | Value  |
| ------------------------------- | ------ |
| Sample size ($n$)               | 36     |
| Sample mean ($\bar{x}$)         | 162 cm |
| Sample standard deviation ($s$) | 6 cm   |
| Z-value for 95% confidence      | 1.96   |

---

## ✅ **Step 1: Find the Standard Error (SE)**

$$
SE = \frac{s}{\sqrt{n}}
$$

$$
SE = \frac{6}{\sqrt{36}} = \frac{6}{6} = 1
$$

---

## ✅ **Step 2: Find the Margin of Error (ME)**

$$
ME = Z \times SE = 1.96 \times 1 = 1.96
$$

---

## ✅ **Step 3: Compute the Confidence Interval**

$$
\text{Lower limit} = \bar{x} - ME = 162 - 1.96 = 160.04
$$

$$
\text{Upper limit} = \bar{x} + ME = 162 + 1.96 = 163.96
$$

---

## ✅ ✅ **Final Answer:**

|                                                 | Value                      |
| ----------------------------------------------- | -------------------------- |
| **95% Confidence Interval for the mean height** | **(160.04 cm, 163.96 cm)** |

# **Q10. Hypothesis Testing - One Sample Z-Test**

**Objective:** Make decisions using statistical testing.

**Problem:**
 The average salary in a city is ₹30,000. A random sample of 49 employees has an average salary of ₹31,000 with a standard deviation of ₹4,900.
 Test the hypothesis at the 5% level of significance to determine if the average salary has increased.

| Parameter                            | Value   |
| ------------------------------------ | ------- |
| Population mean ($\mu_0$)            | ₹30,000 |
| Sample mean ($\bar{x}$)              | ₹31,000 |
| Sample size ($n$)                    | 49      |
| Sample standard deviation ($s$)      | ₹4,900  |
| Significance level ($\alpha$)        | 5%      |
| Z critical value for 5% (two-tailed) | ±1.96   |

a) State the null and alternative hypothesis:

![image.png]()

b) Calculate the Z-score:

---

## ✅ **(b) Calculate the Z-score**

$$
Z = \frac{\bar{x} - \mu_0}{SE}
$$

First, calculate the Standard Error (SE):

$$
SE = \frac{s}{\sqrt{n}} = \frac{4,900}{\sqrt{49}} = \frac{4,900}{7} = 700
$$

Now,

$$
Z = \frac{31,000 - 30,000}{700} = \frac{1,000}{700} \approx 1.43
$$

---

c) Conclude the result using critical value (±1.96)

---

## ✅ **Given**

|                                  | Value   |
| -------------------------------- | ------- |
| Population mean (what city says) | ₹30,000 |
| Sample mean (your sample says)   | ₹31,000 |
| Sample size                      | 49      |
| Sample standard deviation        | ₹4,900  |
| Significance level               | 5%      |
| Critical Z for **two-tailed**    | ±1.96   |

---

## ✅ **Step 1 — Hypotheses**

Since you said **±1.96**, this means you are testing **both sides** (maybe salary is different — could be higher or lower).

So,

|                                 |                                                    |
| ------------------------------- | -------------------------------------------------- |
| **Null Hypothesis (H₀)**        | mean = ₹30,000                                     |
| **Alternative Hypothesis (H₁)** | mean ≠ ₹30,000 (it is different — higher OR lower) |

---

## ✅ **Step 2 — Standard Error**

$$
SE = \frac{s}{\sqrt{n}} = \frac{4,900}{\sqrt{49}} = \frac{4,900}{7} = 700
$$

---

## ✅ **Step 3 — Z-score**

$$
Z = \frac{\bar{x} - \mu}{SE} = \frac{31,000 - 30,000}{700} = \frac{1,000}{700} = 1.43
$$

---

## ✅ **Step 4 — Critical Z (two-tailed)**

* For **two-tailed 5%**, the rejection region is:

  * Z < -1.96
  * Z > +1.96

So, you reject **H₀** if the Z-score is **more extreme** than ±1.96.

---

## ✅ **Step 5 — Compare**

|                  | Value |
| ---------------- | ----- |
| **Calculated Z** | 1.43  |
| **Critical Z**   | ±1.96 |

* Since **1.43 is between -1.96 and +1.96**, it is **not in the rejection region**.

---

## ✅ **Step 6 — Conclusion**

* **Decision:** Do not reject H₀.
* **Interpretation:** There is **no significant evidence** at the 5% level that the average salary is different from ₹30,000.

---

## ✅✅ **Final answer (simple)**

|                        | Answer                                                                               |
| ---------------------- | ------------------------------------------------------------------------------------ |
| Null Hypothesis        | mean = 30,000                                                                        |
| Alternative Hypothesis | mean ≠ 30,000                                                                        |
| Z-score                | 1.43                                                                                 |
| Critical Z             | ±1.96                                                                                |
| Conclusion             | **1.43 is inside ±1.96 → do not reject H₀ → salary is not significantly different.** |

---